* {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #f8edeb;
}

body {
    background-color: #fcd5ce;
}

#carousel-top {
    width: 100%;
}

/* body {
    height : auto;
    min-height: 1080px;
    padding-bottom: 70px;
} */
footer {
    margin: 0;
    background-color: #f8edeb;
    /* height: 100px; */
}
